/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/backend/add/aboutUs.blade.php
resources/views/backend/add/editHome.blade.php
resources/views/backend/add/editProject.blade.php
resources/views/backend/add/editService.blade.php
resources/views/backend/add/home.blade.php
resources/views/backend/add/projects.blade.php
resources/views/backend/add/recent_mail.blade.php
resources/views/backend/add/setups.blade.php
.rnd
api_call.txt
composer.lock
app/db_cleanup.txt
